# IDE files
/nbproject
.project

# OSX dumb file
.DS_Store

# Vagrant files
.vagrant

# Ansible files
*.retry

# Ignore site configurations, which should have their own repos.
/src/config/*
!/src/config/README.md

# Ignore dev version of the code
/src/docroot/*

# Ignore database dumps
/src/databases/*
!/src/databases/README.md

# Ignore the parameters file
parameters.yml
